option_settings:
  aws:elasticbeanstalk:application:environment:
    GymnectS3BucketName: placeholder-value-change-me
    ConnectionString: placeholder-value-change-me
    UserPoolId: placeholder-value-change-me
    Region: eu-central-1
    AppClientId: placeholder-value-change-me
    ASPNETCORE_ENVIRONMENT: Development